@forward "logo";
@forward "navbar";
@use "mixins" as *;

html {
  @include html;
}

body {
  @include body;
}

.title {
  @include d-flex-center-column;

  h1 {
    @include wedding-font-large;
    margin-bottom: 0;
    font-weight: 100;
  }

  p {
    @include wedding-font-normal;
    margin: 20px 0 30px;
  }
}