@use 'mixins' as *;

.wed-logo {
    height: 30vh;
    background-color: white;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        width: 100vw;
        z-index: 1;
        top: -20px;
    }

    h1 {
        z-index: 2;
    }  
    
    p {
        z-index: 2;
    }
}