@use "variables" as *;
@use "mixins" as *;

.wed-navbar {
  min-height: 7vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .wed-navbar-menu {
    @include d-flex-center;
    a {
      @include wedding-font-small;
      text-decoration-line: none;
      margin: 20px;
      color: $color;
    }
  }
}

.wed-navbar-bar {
  @extend .wed-navbar;
  max-width: 85vw;
  border-bottom: 1px solid $color;
}
