$background: #f7e7ce;
$color: #836953;
$primary: #f99171;
$primary-dark: #ff521e;
$secondary: #006c7f;
$success: #006442;
$error: #ff6961;
$info: #2f847c;
$warning: #f5deb3;

$font-large: 76px;
$font-normal: 48px;
$font-small: 30px;
$font-family: "Tangerine", serif;
