@forward "base";
@use "mixins" as *;
@use "variables" as *;

body {
  @include body-flex;
}

.card {
  width: 67vw;
  margin: 0;
  padding: 0 2rem;

  .container {
    height: 100%;
    max-width: 75vw;
  }
}

.row {
  min-width: 83px;

  .col {
    padding: 0 2rem 0 0.75rem;
  }
}

.col {
  .row {
    margin: 0 0 20px;
  }
}

button {
  width: 10vw;
}

#title-row {
  margin: 10px 0 0;
}